app/storage/xml/schema/expressions.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="expressions" type="expressionsType"/>
    <xs:complexType name="expressionsType">
        <xs:sequence>
            <xs:element type="expressionType" name="expression" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="expressionType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element type="minusType" name="minus" minOccurs="1" maxOccurs="1"/>
            <xs:element type="addType" name="add" minOccurs="1" maxOccurs="1"/>
            <xs:element type="multiplyType" name="multiply" minOccurs="1" maxOccurs="1"/>
            <xs:element type="divideType" name="divide" minOccurs="1" maxOccurs="1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="addType">
        <xs:choice minOccurs="2" maxOccurs="unbounded">
            <xs:element type="minusType" name="minus" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element type="multiplyType" name="multiply" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element type="divideType" name="divide" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element type="xs:integer" name="number" minOccurs="1" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="multiplyType">
        <xs:choice minOccurs="2" maxOccurs="unbounded">
            <xs:element type="addType" name="add" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element type="minusType" name="minus" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element type="divideType" name="divide" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element type="xs:integer" name="number" minOccurs="1" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="minusType">
        <xs:choice minOccurs="2" maxOccurs="unbounded">
            <xs:element type="addType" name="add" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element type="multiplyType" name="multiply" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element type="divideType" name="divide" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element type="xs:integer" name="number" minOccurs="1" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="divideType">
        <xs:choice minOccurs="2" maxOccurs="unbounded">
            <xs:element type="addType" name="add" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element type="minusType" name="minus" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element type="multiplyType" name="multiply" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element type="xs:integer" name="number" minOccurs="1" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>